# Servidor
PORT=3001

# MariaDB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=aquacontrol
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui

# JWT — genera una clave larga y aleatoria
JWT_SECRET=cambia_esto_por_una_clave_secreta_muy_larga_y_aleatoria
JWT_EXPIRES_IN=8h

# Entorno
NODE_ENV=development
